body,
html {
  height: 100%;
}
#info_bar {
  height: 20px;
}
#main_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 20px;
  margin-bottom: -20px;
}
#editor {
  height: 100%;
}
