normalize()
base()

body, html
	height 100%

info_bar_height = 20px
#info_bar
	height info_bar_height

#editor_container
	box-sizing(border-box)
	height 100%
	padding-bottom info_bar_height
	margin-bottom -(info_bar_height)

#editor
	height 100%



